<!DOCTYPE html>
<html lang="{{Page.Language}}">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="{{Theme.Author}}" />
	<meta name="generator" content="SnowbowHandlebars" />
	<link rel="alternate" type="application/atom+xml" href="{{ALP '/atom.xml'}}" />
	{{#if Page.Language}}
	{{#if ([String.NotEqual] Page.Language 'zh-cn')}}
	<link rel="alternate" hreflang="zh-cn" href="{{TP 'zh-cn'}}" />
	{{/if}}
	{{#if ([String.NotEqual] Page.Language 'en-us')}}
	<link rel="alternate" hreflang="en-us" href="{{TP 'en-us'}}" />
	{{/if}}
	{{#if ([String.NotEqual] Page.Language 'ja-jp')}}
	<link rel="alternate" hreflang="ja-jp" href="{{TP 'ja-jp'}}" />
	{{/if}}
	{{/if}}
	{{#if ([String.Equal] Page.Layout 'index')}}
	<title>{{Theme.CommonTitle}}</title>
	{{else}}
	<title>{{Page.Title}} - {{Theme.CommonTitle}}</title>
	{{/if}}
	<link href="{{AP '/normalize/8.0.1/normalize.min.css'}}" rel="stylesheet" />
	<link href="{{AP '/styles/style.css'}}" rel="stylesheet" />
	<link href="{{AP '/styles/mobile.css'}}" rel="stylesheet" />
	<link href="{{AP '/APlayer-1.10.1/dist/APlayer.min.css'}}" rel="stylesheet" />
</head>

<body>
	<div class="t">
		<div class="t-background"></div>
		{{#if Page.Language}}
		<div class="t-language-links">
			{{#if ([String.NotEqual] Page.Language 'zh-cn')}}
			<a href="{{TP 'zh-cn'}}">中文</a>
			{{/if}}
			{{#if ([String.NotEqual] Page.Language 'en-us')}}
			<a href="{{TP 'en-us'}}">English</a>
			{{/if}}
			{{#if ([String.NotEqual] Page.Language 'ja-jp')}}
			<a href="{{TP 'ja-jp'}}">日本語</a>
			{{/if}}
		</div>
		{{/if}}
		<a class="t-avatar" href="{{AP '/'}}">
			<img src="{{AP '/images/head.png'}}" alt="avatar" />
		</a>
		<div class="t-title">
			<h1>{{Theme.CommonTitle}}</h1>
		</div>
		<div class="t-description">
			<p>{{T Theme.CommonSubtitle}}</p>
		</div>
		<div class="t-icon">
			<a class="t-icon-gray" href="https://github.com/Yuki-Nagato/" title="GitHub"><img src="{{AP '/images/github-white.svg'}}" alt="GitHub Logo"/></a>
			<a class="t-icon-blue" href="mailto:yuki@yuki-nagato.com" title="{{T 'email'}}"><img src="{{AP '/images/mail-white.svg'}}" alt="Email Logo" /></a>
			<a class="t-icon-orange" href="{{ALP '/atom.xml'}}" title="Atom Feed"><img src="{{AP '/images/feed-white.svg'}}" alt="Atom Feed Logo" /></a>
		</div>
		<div class="t-nav">
			<a href="{{ALP '/'}}">{{T 'index'}}</a><a href="{{ALP '/archives/'}}">{{T 'archives'}}</a><a href="{{ALP '/friends/'}}">{{T 'friends'}}</a><a href="{{ALP '/about/'}}">{{T 'about'}}</a><a id="t-nav-like" href="javascript:;">❤<span class="like-count">Loading</span></a>
		</div>
	</div>
	<div class="c{{Ternary Page.Toc '' ' no-r'}}">
		{{> (ToString 'partial/c-' Page.Layout '.hbs')}}
		<footer class="c-footer">
			<p>{{{T 'copyright'}}}</p>
			<p>&copy; {{Theme.Author}} 2017-2025</p>
		</footer>
	</div>
	<div class="l">
		<div class="l-card">
			<div class="l-card-background"></div>
			<a class="l-card-avatar" href="{{ALP '/'}}">
				<img src="{{AP '/images/head.png'}}" alt="avatar" />
			</a>
			<div class="l-card-title">
				<h1>{{Theme.CommonTitle}}</h1>
			</div>
			<div class="l-card-description">
				<p>{{T Theme.CommonSubtitle}}</p>
			</div>
			<div class="l-card-nav">
				<ul>
					<li><a href="{{ALP '/'}}">{{T 'index'}}</a></li>
					<li><a href="{{ALP '/categories/'}}">{{T 'categories'}}</a></li>
					<li><a href="{{ALP '/tags/'}}">{{T 'tags'}}</a></li>
					<li><a href="{{ALP '/archives/'}}">{{T 'archives'}}</a></li>
					<li><a href="{{ALP '/friends/'}}">{{T 'friends'}}</a></li>
					<li><a href="{{ALP '/about/'}}">{{T 'about'}}</a></li>
				</ul>
			</div>
			<div class="l-card-icon">
				<a class="l-card-icon-gray" href="https://github.com/Yuki-Nagato/" title="GitHub"><img src="{{AP '/images/github-white.svg'}}" alt="GitHub Logo"/></a>
				<a class="l-card-icon-blue" href="mailto:yuki@yuki-nagato.com" title="{{T 'email'}}"><img src="{{AP '/images/mail-white.svg'}}" alt="Email Logo" /></a>
				<a class="l-card-icon-orange" href="{{ALP '/atom.xml'}}" title="Atom Feed"><img src="{{AP '/images/feed-white.svg'}}" alt="Atom Feed Logo" /></a>
			</div>
			<a href="javascript:;" id="l-card-like">
				<p class="l-card-like-1" id="like-text">Do you like me?</p>
				<p class="l-card-like-2">❤<span class="like-count">Loading</span></p>
			</a>
			<div class="l-card-music">
				<div class="myplayer" data-audio="{&quot;name&quot;: &quot;すべてを雪に染めて ～never ending snow～&quot;, &quot;artist&quot;: &quot;忍&quot;, &quot;url&quot;: &quot;{{AP '/musics/忍 - すべてを雪に染めて ～never ending snow～.mp3'}}&quot;, &quot;cover&quot;: &quot;{{AP '/musics/忍 - すべてを雪に染めて ～never ending snow～.jpg'}}&quot;}"></div>
			</div>
			{{#if Page.Language}}
			<div class="l-card-language">
				<div class="l-card-language-text">{{T 'also-language'}}</div>
				<div class="l-card-language-links">
					{{#if ([String.NotEqual] Page.Language 'zh-cn')}}
					<a href="{{TP 'zh-cn'}}">中文</a>
					{{/if}}
					{{#if ([String.NotEqual] Page.Language 'en-us')}}
					<a href="{{TP 'en-us'}}">English</a>
					{{/if}}
					{{#if ([String.NotEqual] Page.Language 'ja-jp')}}
					<a href="{{TP 'ja-jp'}}">日本語</a>
					{{/if}}
				</div>
			</div>
			{{/if}}
		</div>
	</div>
	{{#if Page.Toc}}
	{{> [partial/r.hbs]}}
	{{/if}}
	<script src="{{AP '/font-awesome/6.4.0/js/all.min.js'}}"></script>
	<script src="{{AP '/APlayer-1.10.1/dist/APlayer.min.js'}}"></script>
	<link rel="stylesheet" href="{{AP '/highlight.js/cdn-release-11.7.0/build/styles/vs2015.min.css'}}">
	<script src="{{AP '/highlight.js/cdn-release-11.7.0/build/highlight.min.js'}}"></script>
	<script src="{{AP '/MathJax-3.2.2/es5/mml-svg.js'}}"></script>
	<script>
		hljs.configure({ languages: [] });
		hljs.highlightAll();
		// hljs.initLineNumbersOnLoad();
	</script>
	<script src="{{AP '/scripts/script.js'}}"></script>
</body>

</html>
