<article class="c-card">
	<header class="c-card-header">
		<div class="c-card-header-1">
			<h1 class="c-card-header-1-title">{{Page.Title}}</h1>
			<time class="c-card-header-1-time" datetime="{{[String.Format] Page.Time 'yyyy-MM-ddTHH:mm:ssK'}}" pubdate><i class="far fa-clock"></i> {{[String.Format] Page.Time 'yyyy-MM-dd HH:mm:ss K'}}</time>
		</div>
		<div class="c-card-header-3">

			{{#if Page.Categories}}
			<div class="c-card-header-3-categories">
				<i class="fas fa-folder"></i>
				{{#each Page.Categories}}
				<a class="c-card-header-3-categories-item" href="{{ALP '/categories/'}}#{{this}}">{{this}}</a>
				{{/each}}
			</div>
			{{/if}}

			{{#if Page.Tags}}
			<div class="c-card-header-3-tags">
				<i class="fas fa-tags"></i>
				{{#each Page.Tags}}
				<a class="c-card-header-3-tags-item" href="{{ALP '/tags/'}}#{{this}}">{{this}}</a>
				{{/each}}
			</div>
			{{/if}}

		</div>
	</header>
	{{#if ([String.NotEqual] Page.Language Page.ContentLanguage)}}
	<div class="c-card-warning card-child">
		{{{T 'no-translation'}}}
	</div>
	{{/if}}
	<div class="c-card-content card-child{{#if Page.AutoNumber}} auto-number{{/if}}">
		{{#with (FrontMatterOrDefault 'audio' '')}}
		<div class="myplayer" data-audio="{{this}}"></div>
		{{/with}}
		{{{Page.Content}}}
	</div>

	{{#if ([String.Equal] Page.Language 'zh-cn')}}
	<div class="c-card-license card-child">
		<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a href="https://creativecommons.org/licenses/by/4.0/deed.zh-hans" target="_blank" rel="license noopener noreferrer"><img alt="知识共享 署名 4.0 国际" src="{{AP "/images/cc-by-badges.png"}}" /></a> <a property="dct:title" rel="cc:attributionURL" href="{{Page.Permalink}}">{{Page.Title}}</a> 由 <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{Theme.SchemeAndHost}}{{ALP "/"}}">{{Theme.Author}}</a> 采用 <a href="https://creativecommons.org/licenses/by/4.0/deed.zh-hans" target="_blank" rel="license noopener noreferrer">知识共享 署名 4.0 国际 许可协议 <img src="{{AP "/images/cc.svg"}}" alt="CC"> <img src="{{AP "/images/by.svg"}}" alt="BY"></a> 进行许可。</p>
	</div>
	{{/if}}
	{{#if ([String.Equal] Page.Language 'ja-jp')}}
	<div class="c-card-license card-child">
		<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank" rel="license noopener noreferrer"><img alt="クリエイティブ・コモンズ 表示 4.0 国際" src="{{AP "/images/cc-by-badges.png"}}" /></a> <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{Theme.SchemeAndHost}}{{ALP "/"}}">{{Theme.Author}}</a> 作『<a property="dct:title" rel="cc:attributionURL" href="{{Page.Permalink}}">{{Page.Title}}</a>』は <a href="https://creativecommons.org/licenses/by/4.0/deed.ja" target="_blank" rel="license noopener noreferrer">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス <img src="{{AP "/images/cc.svg"}}" alt="CC"> <img src="{{AP "/images/by.svg"}}" alt="BY"></a> で提供されています。</p>
	</div>
	{{/if}}
	{{#if ([String.Equal] Page.Language 'en-us')}}
	<div class="c-card-license card-child">
		<p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank" rel="license noopener noreferrer"><img alt="Creative Commons Attribution 4.0 International" src="{{AP "/images/cc-by-badges.png"}}" /></a> <a property="dct:title" rel="cc:attributionURL" href="{{Page.Permalink}}">{{Page.Title}}</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{Theme.SchemeAndHost}}{{ALP "/"}}">{{Theme.Author}}</a> is licensed under <a href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank" rel="license noopener noreferrer">Creative Commons Attribution 4.0 International <img src="{{AP "/images/cc.svg"}}" alt="CC"> <img src="{{AP "/images/by.svg"}}" alt="BY"></a>.</p>
	</div>
	{{/if}}
</article>
<div class="c-page">
	{{#with (lookup (lookup Article.LanguageArticlesDictionary Page.Language) ([Math.Subtract] Page.IndexOfArticleInLanguage 1))}}
	<a class="c-page-previous" href="{{Path}}">
		<span><i class="fas fa-arrow-circle-left"></i> {{T 'prev'}}</span>
		<span class="c-page-previous-title">{{Title}}</span>
	</a>
	{{else}}
	<a class="c-page-previous">
		<span><i class="fas fa-arrow-circle-left"></i> {{T 'prev'}}</span>
		<span class="c-page-previous-title">{{T 'end'}}</span>
	</a>
	{{/with}}

	{{#with (lookup (lookup Article.LanguageArticlesDictionary Page.Language) ([Math.Add] Page.IndexOfArticleInLanguage 1))}}
	<a class="c-page-next" href="{{Path}}">
		<span>{{T 'next'}} <i class="fas fa-arrow-circle-right"></i></span>
		<span class="c-page-next-title">{{Title}}</span>
	</a>
	{{else}}
	<a class="c-page-next">
		<span>{{T 'next'}} <i class="fas fa-arrow-circle-right"></i></span>
		<span class="c-page-next-title">{{T 'end'}}</span>
	</a>
	{{/with}}
</div>
