<article class="c-card">
  <header class="c-card-header">
    <div class="c-card-header-1">
      <h1 class="c-card-header-1-title">{{Page.Title}}</h1>
    </div>
  </header>
  <div class="c-card-content card-child">
    <div class="c-card-content-archives">
      <table>
        <thead>
          <tr>
            <th>{{T 'publish-time'}}</th>
            <th>{{T 'article-title'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each (lookup Article.LanguageArticlesDictionary Page.Language)}}
            <tr>
              <td style="white-space: nowrap;"><time datetime="{{[String.Format] Time 'yyyy-MM-ddTHH:mm:ssK'}}">{{[String.Format] Time 'yyyy-MM-dd HH:mm:ss K'}}</time></td>
              <td><a href="{{Path}}">{{Title}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</article>
