<article class="c-card">
	<header class="c-card-header">
		<div class="c-card-header-1">
			<h1 class="c-card-header-1-title">{{Page.Title}}</h1>
		</div>
	</header>
	<div class="c-card-content card-child">
		<div class="c-card-content-categories">
			{{#each (lookup Article.LanguageCategoryArticlesDictionary Page.Language)}}
			<h2 id="{{@key}}">{{@key}}</h2>
			{{#each this}}
			<p><a href="{{Path}}">{{Title}}</a></p>
			{{/each}}
			{{/each}}
		</div>
	</div>
</article>
