<article class="c-card">
  <header class="c-card-header">
    <div class="c-card-header-1">
      <h1 class="c-card-header-1-title">{{Page.Title}}</h1>
    </div>
  </header>
  <div class="c-card-content card-child">
    <div class="c-card-content-friend">

      {{{Page.Content}}}

    </div>
  </div>
</article>
