{{#each (lookup Article.LanguageArticlesDictionary Page.Language)}}
<article class="c-card">
	<header class="c-card-header">
		<div class="c-card-header-1">
			<a href="{{Path}}">
				<h1 class="c-card-header-1-title">{{Title}}</h1>
			</a>
			<time class="c-card-header-1-time" datetime="{{[String.Format] Time 'yyyy-MM-ddTHH:mm:ssK'}}" pubdate><i class="far fa-clock"></i> {{[String.Format] Time 'yyyy-MM-dd HH:mm:ss K'}}</time>
		</div>
		<div class="c-card-header-3">
			{{#if Categories}}
			<div class="c-card-header-3-categories">
				<i class="fas fa-folder"></i>
				{{#each Categories}}
				<a class="c-card-header-3-categories-item" href="{{ALP '/categories/'}}#{{this}}">{{this}}</a>
				{{/each}}
			</div>
			{{/if}}

			{{#if Tags}}
			<div class="c-card-header-3-tags">
				<i class="fas fa-tags"></i>
				{{#each Tags}}
				<a class="c-card-header-3-tags-item" href="{{ALP '/tags/'}}#{{this}}">{{this}}</a>
				{{/each}}
			</div>
			{{/if}}
		</div>
	</header>
	{{#if ([String.NotEqual] Language ContentLanguage)}}
	<div class="c-card-warning card-child">
		{{{T 'no-translation'}}}
	</div>
	{{/if}}
	<div class="c-card-content card-child{{#if AutoNumber}} auto-number{{/if}}">
		{{#with (FrontMatterOrDefault 'audio' '')}}
		<div class="myplayer" data-audio="{{this}}"></div>
		{{/with}}
		{{{PartialContent}}}
	</div>
	{{#if ([String.NotEqual] PartialContent Content)}}
	<div class="c-card-more card-child">
		<a href="{{Path}}">… {{T 'more'}} ↓</a>
	</div>
	{{/if}}
</article>
{{/each}}
