<label class="r-card-switch" for="r-switch">{{T 'toc'}}</label>
<input type="checkbox" id="r-switch" readonly />
<div class="r">
	<div class="r-card">
		<div class="r-card-toc{{#if Page.AutoNumber}} auto-number{{/if}}">
			<h1 class="r-card-toc-title">{{T 'toc'}}</h1>
			<a class="r-card-toc-top" href="#">{{Page.Title}}</a>

			{{{Page.TocOl}}}

		</div>
	</div>
</div>
