@media screen and (max-width: 768px) {
  .l {
    display: none;
  }

  .t {
    display: block;
  }

  .c {
    margin-left: 0;
    margin-right: 0;
    min-height: unset;
  }

  .c-card {
    margin-left: 0;
    margin-right: 0;
  }

  .t {
    min-height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
  }

  .t-language-links {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .t-language-links a {
    color: #eaeaea;
  }

  .t-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
    background-color: #4d4d4d;
  }

  .t-avatar {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    border: 5px solid white;
    border-radius: 50%;
  }

  .t-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .t-title h1 {
    font-family: serif;
    font-size: 28px;
    color: #696969;
  }

  .t-description p {
    color: #999999;
    font-size: 12px;
  }

  .t-icon {
    margin: 20px 0;
  }

  .t-icon a {
    display: inline-block;
    color: white;
    font-size: 16px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    opacity: .7;
    margin: 0 5px;
  }

  .t-icon a img {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  .t-icon a:hover {
    opacity: 1;
  }

  .t-icon-gray {
    background-color: #24292e;
    border-color: #24292e;
  }

  .t-icon-orange {
    background-color: #ef7522;
    border-color: #ef7522;
  }

  .t-icon-blue {
    background-color: #005a87;
    border-color: #005a87;
  }

  .t-toc_button {
    display: none;
  }

  .t-nav {}

  .t-nav a {
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    color: #a0a0a0;
    text-decoration: none;
    border: 1px solid #a0a0a0;
    border-right: none;
    width: 19%;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .t-nav a+a {}

  .t-nav a:first-child {
    border-radius: 3px 0 0 3px;
  }

  .t-nav a:last-child {
    border-right: 1px solid #a0a0a0;
    border-radius: 0 3px 3px 0;
  }
}

#r-switch {
  /* position: absolute;
  top: -999px;
  left: -999px; */
  display: none;
}

.r-card-switch {
  display: none;
}

@media screen and (max-width: 1024px) {
  .r {
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 1;
  }

  .r-card {
    margin-left: 6px;
    width: calc(100% - 6px);
    box-shadow: 0 0 6px black;
  }

  .c {
    margin-right: 0;
  }

  .c-card-header-1-title {
    margin-right: 0;
  }

  .c-card-header-1-time {
    position: static;
    display: block;
    line-height: 1.5;
  }

  .r-card-switch {
    display: block;
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 2;
    background-color: white;
    line-height: 1;
    font-size: 12px;
    padding: 6px 20px;
    border-radius: 12px 0 0 12px;
    box-shadow: 0 0 6px black;
    opacity: .7;
  }

  #r-switch:checked+.r {
    transform: translateX(0);
  }

  .card-child {
    margin: 0 20px;
  }
  .c-card-header {
    padding-left: 15px;
    padding-right: 20px;
  }
}