html {
  font-family: sans-serif;
}

body {
  background-color: #eaeaea;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: sans-serif;
}

a {
  color: #08c;
  text-decoration: none;
}

.r-card-toc ol {
  list-style-type: none;
  padding: 0;
  counter-reset: section; /* 为每个ol元素创建新的计数器实例 */
}

.r-card-toc.auto-number ol>li:before {
  counter-increment: section; /* 只增加计数器的当前实例 */
  content: counters(section, ".") ". "; /* 为所有计数器实例增加以“.”分隔的值 */
}

.r-card-toc:not(.auto-number) ol ol {
  padding-left: 1em;
}

iframe.music {
  border: none;
  width: 100%;
  height: 86px;
  margin: 0;
  padding: 0;
}

/* avoid collapsing margins, while still scrollable parent */
.l,
.c,
.r,
.t {
  overflow: auto;
}

.l-card,
.c-card,
.r-card {
  overflow: hidden;
}

.t {
  display: none;
}

.r-card-button {
  display: none;
}

.l {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
}

.l-card {
  min-height: 100%;
  text-align: center;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
}

.l-card-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: #4d4d4d;
}

.l-card-avatar {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  border: 5px solid white;
  border-radius: 50%;
}

.l-card-avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.l-card-title h1 {
  font-family: serif;
  font-size: 28px;
  color: #696969;
}

.l-card-description p {
  color: #999999;
  font-size: 12px;
}

.l-card-nav ul {
  list-style-type: none;
  padding: 0;
}

.l-card-nav li {
  margin: 5px;
}

.l-card-nav a {
  font-size: 14px;
  line-height: 2;
  color: #696969;
  text-decoration: none;
}

.l-card-nav a:hover {
  color: #999999;
}

.l-card-icon a {
  display: inline-block;
  color: white;
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  opacity: .7;
  margin: 0 5px;
}

.l-card-icon a img {
  display: block;
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.l-card-icon a:hover {
  opacity: 1;
}

.l-card-icon-gray {
  background-color: #24292e;
  border-color: #24292e;
}

.l-card-icon-orange {
  background-color: #ef7522;
  border-color: #ef7522;
}

.l-card-icon-blue {
  background-color: #005a87;
  border-color: #005a87;
}

#l-card-like {
  display: block;
  color: #e51c23;
  text-decoration: none;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#l-card-like:hover {
  background-color: #e51c23;
  color: white;
}

.l-card-like-1 {
  font-size: 20px;
  margin: 0;
}

.l-card-like-2 {
  font-size: 30px;
  margin: 0;
}

.l-card-language {
  font-size: 12px;
  line-height: 2;
  color: #696969;
}

.l-card-language a {
  color: #696969;
}

.l-card-language a:hover {
  color: #999999;
}

.l-card-language a+a {
  margin-left: 10px;
}

.l-card-music .myplayer {
  margin: 0;
}
.l-card-music {
  margin: 10px 0;
}

.c {
  margin-left: 250px;
  margin-right: 200px;
  min-height: 100vh;
  position: relative;
}

.c-card {
  background-color: white;
  margin: 30px;
  padding-bottom: 50px;
}

.c-card-header {
  border-left: 5px solid #4d4d4d;
  overflow: hidden;
  padding: 20px 50px 20px 45px;
  /* change when mobile */
}

/* title and time */
.c-card-header-1 {
  position: relative;
  overflow: hidden;
}

.c-card-header-1-title {
  color: #696969;
  font-size: 28px;
  text-decoration: none;
  line-height: 40px;
  /*margin: 0;*/
  display: block;
  margin: 15px 240px 15px 0;
}

.c-card-header-1-time {
  color: #696969;
  position: absolute;
  line-height: 70px;
  right: 0;
  top: 0;
}

.c-card-header-3,
.c-card-header-3 * {
  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;
}

.c-card-header-3 {
  margin: 4px 0;
}

.c-card-header-3-categories,
.c-card-header-3-tags {
  display: inline-block;
  color: #696969;
}

.c-card-header-3-tags {
  margin-left: 1em;
}

.c-card-header-3-categories-item,
.c-card-header-3-tags-item {
  display: inline-block;
  position: relative;
  background-color: #ff945c;
  text-decoration: none;
  color: white;
  border-left-width: 12px;
  border-radius: 4px;
  padding: 0 6px;
  box-sizing: border-box;
  font-size: 12px;
}

.c-card-header-3-tags-item {
  background-color: #ba8f6c;
  border-color: #ba8f6c;
}

.c-card-header-3-tags-item::before {
  border-right-color: #ba8f6c;
}

.card-child {
  margin: 0 50px;
}

.card-child:nth-child(2) {
  margin-top: 1em;
}

/* article */
.c-card-content {
  line-height: 1.5;
}

.c-card-content>* {
  margin: 1em 0;
  /* scroll content items */
  display: block;
  overflow: auto hidden;
}

.c-card-content>blockquote>* {
  margin: 1em 0;
  /* scroll content items */
  display: block;
  overflow: auto hidden;
}

mjx-container[display="true"] {
  margin: 0 !important
}

.c-card-content h2,
.c-card-content h1 {
  border-bottom: 0.8px solid #dddddd;
  padding-bottom: 2px;
  margin-bottom: calc(1em - 2.8px);
}
.c-card-content h3 {
  font-size: 1.25em;
}
.c-card-content h4,
.c-card-content h5,
.c-card-content h6 {
  font-size: 1em;
  font-weight: bold;
}
.c-card-content {
  counter-reset: h2counter;
}
.c-card-content h2 {
  counter-reset: h3counter;
}
.c-card-content h3 {
  counter-reset: h4counter;
}
.c-card-content h4 {
  counter-reset: h5counter;
}
.c-card-content h5 {
  counter-reset: h6counter;
}
.c-card-content.auto-number h2:before {
  counter-increment: h2counter;
  content: counter(h2counter) ". ";
}
.c-card-content.auto-number h3:before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) ". ";
}
.c-card-content.auto-number h4:before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ". ";
}
.c-card-content.auto-number h5:before {
  counter-increment: h5counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ". ";
}
.c-card-content.auto-number h6:before {
  counter-increment: h6counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ". ";
}

.c-card-content figure {
  text-align: center;
}

.c-card-content figure img {
  margin: 0;
}

.c-card-content figure figcaption {
  margin: 0;
  color: #696969;
}

.c-card-content img {
  max-width: 100%;
  max-height: 400px;
}

.c-card-content table:not(.hljs-ln) {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

.c-card-content table:not(.hljs-ln) td,
.c-card-content table:not(.hljs-ln) th {
  padding: 0.5em;
}

.c-card-content table:not(.hljs-ln) thead {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}

.c-card-content table:not(.hljs-ln) tbody {
  border-bottom: 2px solid black;
}

.c-card-content blockquote {
  background-color: #f6f6f6;
  border-left: 5px solid #657b83;
  padding: 8px 20px;
}

pre code {
  line-height: 1.2;
}
code {
  font-size: 85%;
  font-family: ui-monospace, 'Fira Code', SFMono-Regular , 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}
p > code {
  padding: .2em .4em;
  margin: 0;
  background-color: #eff1f3;
  border-radius: 6px;
}

.hljs-ln {
  margin: 0 !important;
}

.hljs-ln td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.hljs-ln,
.hljs-ln * {
  margin: 0;
}

.hljs-ln-numbers {
  text-align: right;
  padding-right: 0.25em !important;
  border-right: 1px solid #696969;
  color: #999999;
}

.hljs-ln-code {
  padding-left: 0.25em !important;
  padding-right: 1em !important;
}

.c-card-content-friend ul {
  list-style-type: none;
  padding: 0;
}

.c-card-content-friend li {
  display: inline-block;
  margin: 10px;
  transition: box-shadow 0.3s ease;
  vertical-align: top;
  max-width: calc(100% - 20px);
}

.c-card-content-friend li:hover {
  box-shadow: 0 0 6px black;
}

.c-card-content-friend a {
  color: black;
  text-decoration: none;
  width: 470px;
  max-width: 100%;
  height: 72px;
  position: relative;
}

.c-card-content-friend a,
.c-card-content-friend img,
.c-card-content-friend span {
  display: block;
  margin: 0;
}

.c-card-content-friend img {
  width: 72px;
  height: 72px;
}

.c-card-content-friend span:nth-child(2) {
  position: absolute;
  left: 72px;
  top: 3px;
  line-height: 2;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 16px;
  right: 0;
}

.c-card-content-friend span:nth-child(3) {
  position: absolute;
  left: 72px;
  bottom: 5px;
  line-height: 2;
  margin-left: 16px;
  color: #696969;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  right: 0;
}

.c-card-more {
  line-height: 2;
}

.c-card-more * {
  margin: 1em 0;
}

.c-card-license,
.c-card-warning {
  background-color: #f6f6f6;
  border-left: 5px solid #ff1700;
  padding: 8px 20px;
  line-height: 1.5;
}

.c-card-license img,
.c-card-warning img {
  vertical-align: middle;
  height: 1.5em;
}

.c-page {
  position: relative;
  margin: 0 30px calc(20px + 12px * 1.5 * 3 + 20px);
  line-height: 1.5;
  display: flex;
  justify-content: space-between;
}

.c-page-next {
  text-align: right;
}

.c-page-previous, .c-page-next {
  min-width: 6em;
}

.c-page-previous span,
.c-page-next span {
  display: block;
}

.c-card:nth-last-child(2) {
  margin-bottom: calc(20px + 12px * 1.5 * 3 + 20px);
}

.c-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  color: #696969;
  line-height: 1.5;
  margin: 20px 0;
}

.c-footer p {
  margin: 0;
}

.no-r {
  margin-right: 0;
}

.r {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 200px;
}

.r-card {
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  min-height: calc(100% - 60px);
  line-height: 1.5;
  margin: 30px 0;
}

.r-card-toc-title {
  font-size: 24px;
  color: #696969;
}

.r-card-toc ol {
  margin: 0;
}

.r-card-toc li {
  margin: 0.5em 0;
}